body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e0e0e0;
  min-height: 3000px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Cabin', sans-serif;
}

.header,
.about {
  padding-top: 75px;
  width: 100%;
  height: auto;
}

.jumbotron {
  color: #fff;
}

.logo,
.navbar-brand {
  font-family: 'Lobster Two', cursive;
}

.wrap {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  background-color: #fff;
}

.block {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 7.5px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.85);
}

.icon-star-two,
.icon-star-half,
.icon-star {
  color: #ffe623;
}

.between {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.between-one {
  background-color: #441711;
}

.between-two {
  background-color: #114055;
}

@media (min-width: 992px) {
  
  .block {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px transparent;
    border-radius: 7.5px;
  }
  
  .between {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .member {
    padding-bottom: 75px;
  }
}

@media (min-width: 1200px) {
  
}

.member {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
}

.linda {
  background-color: #50abdb;
}

.debby {
  background-color: #dbcb50;
}

.janneke {
  background-color: #db50a0;
}

.about {
  padding: 0;
  padding: 0 10px;
}
