body {
  font-family: 'Open Sans', sans-serif;
  background-color: #eef2f3;
}

.header {
  padding-top: 75px;
  width: 100%;
  height: auto;
}

.jumbotron {
  color: #fff;
}

.logo,
.navbar-brand {
  font-family: 'Lobster Two', cursive;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Cabin', cursive;
}