body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e0e0e0;
  min-height: 3000px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Cabin', cursive;
}

.header {
  padding-top: 75px;
  width: 100%;
  height: auto;
}

.jumbotron {
  color: #fff;
}

.logo,
.navbar-brand {
  font-family: 'Lobster Two', cursive;
}

.wrap {
  width: 100%;
  background-color: #fff;
}

.block {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px transparent;
  border-radius: 7.5px;
}