<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h3>Social Media</h3>
        <ol>
          <li><span class="icon-twitter icon-lg"></span> <a href="https://twitter.com/theaterklas_jrl">@theaterklas_jrl</a></li>
          <li><span class="icon-facebook icon-lg"></span> <a href="https://facebook.com/theaterklas.jrl">/theaterklas.jrl</a></li>
        </ol>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h3>Contact</h3>
        <ol>
          <li><span class="icon-email icon-lg"></span> <a href="mailto:info@theaterklas-jrl.nl">info@theaterklas-jrl.nl</a></li>
        </ol>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h3>Adres</h3>
        <p>Jacob-Roelandslyceum</p>
        <p>Grote Beemd 3</p>
        <p>5281 CC BOXTEL</p>
        <p>T.a.v. Theaterklas</p>
      </div>
    </div>
    <h3 class="small">Copyright 2015-2016 Amperia Productions</h3>
  </div>
</footer>

<!-- JavaScript loads latest, pageload will be faster! -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/main.js"></script>